* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; /* here we used the universal selector * and made margin and        padding to zero to reset or remove the default space bw the elements. */
}

body {
  color: #444;
  font-family: sans-serif;

  border-top: 10px solid #1098ad;
  /* position: relative; */
  /* background-color: rgb(245 245 238 / var(--tw-bg-opacity));
    --tw-bg-opacity: 1; */
}

.container {
  width: 1000px;
  margin: 0 auto;
  /* position: relative; */

  /* font-weight: 200; */
}

/* .on-foot {
  position: static;
} */

.copy-right {
  text-align: center;
  background-color: #f7f7f7;
  margin-top: 50px;
}
/* .sheet {
    position: relative;
  } */

#dsa {
  font-size: 35px;
  text-align: center;
  background-color: skyblue;
}

.image {
  width: 100%;
  height: 400px;
  margin-bottom: 40px;
}
h1 {
  font-size: 26px;
  background-color: #f7f7f7;
  margin-bottom: 20px;
  padding: 20px;
  color: #1098ad;
}
h2 {
  color: rgb(39, 39, 38);
  margin-bottom: 15px;
}
p {
  font-size: 16.5px;
  line-height: 1.5;
  margin-bottom: 10px;
}

ul,
ol {
  margin-left: 20px;
  margin-bottom: 15px;
}
li {
  font-size: 18px;
  margin-bottom: 10px;
}

table {
  font-family: arial, sans-serif;
  /* border-collapse: collapse; */
  width: 100%;
}

td,
th {
  border: 5px, solid, rgb(253, 7, 7);
  text-align: left;
  padding: 8px;
  width: 100%;
}

/* dsa css */
article {
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
  margin-bottom: 10px;

  width: 100%;
  line-height: 30px;
  padding: 8px 15px;
  font-family: "Roboto", sans-serif;
  /* text-align: center; */
  border: none;
  background-color: #fff6da;
  /* cursor: pointer; */
  border-radius: 10px;
  position: relative;
  /* box-sizing: inherit; */
  /* margin-bottom: 40px; */
}

article ul {
  position: absolute;
  background-color: #fff6da;
  list-style: none;
  top: 75px;
  left: 0px;
  width: 100%;
  border-radius: 10px;
  display: none;
  overflow: auto;
  z-index: 1;
}

.button {
  border: 2px solid black;
  padding: 3px;
}
article label {
  /* color: #102770; */
  color: #444;
  font-size: 20px;
  font-weight: 500;
  display: block;
  cursor: pointer;
}
/* .class {
    position: static;
  } */

[id^="step"]:checked + ul {
  display: block;
}

article .ulist:before {
  position: absolute;
  content: " ";
  height: 20px;
  width: 20px;
  background-color: #fff6da;
  right: 20px;
  top: -10px;
  transform: rotate(45deg);
  z-index: -1;
}

article .ulist {
  border: 3px solid black;
}
article ul li {
  line-height: 40px;
  padding: 8px 20px;
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
article ul li label {
  font-size: 18px;
}

article ul li label:hover {
  color: rgb(15, 104, 238);
}

article ul ul {
  position: static;
}

article ul ul li {
  line-height: 30px;
  padding-left: 30px;
  border-bottom: none;
}
article ul ul li a {
  color: #1d78ce;
  font-size: 17;
}
article span {
  font-size: 22px;
  float: right;
}
article ul li span {
  font-size: 22px;
  float: right;
  line-height: 20px;
  margin-top: 10px;
  padding: 0 10px;
}

input {
  display: none;
}
/* step-2 */

[id^="step2"]:checked + ul {
  display: block;
}
