.navbar .dropdown-menu [class*="span"] {
  padding-top: 10px;
}
.navbar .dropdown-menu > li.column-menu ul {
  display: inline-block;
  list-style: none outside none;
  margin: 0 0 16px;
  width: 100%;
}
.navbar .dropdown-menu > li.column-menu li {
  display: inline;
  float: left;
  width: 100%;
}
.navbar .dropdown-menu > li.column-menu.firstcolumn {
  margin-left: 0;
}
